.App {
  text-align: center;
}

.wrapper {
  width: auto;
  display: flex;
  justify-content: center;
}
td {
  background-color: dimgrey;
  color: white;
  text-transform: uppercase;
  width: 70px;
  height: 70px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 28px;
}

.keyboard {
  margin-top: 18px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.keyboard td{
  width: 35px;
  height: 60px;
  font-size: 22px;
  transition: all .3s ease;
  cursor: pointer;
  user-select: none;
}

.keyboard td:hover {
  background-color: grey;
}
