
* {
  box-sizing: border-box;
  user-select: none;
  transition: all .3s ease;
  color: white;
}

html {
  background: #070F2B;
}

.App {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 688px) {
  .flex {
    flex-direction: column;
    align-items: center;
  }

  .stats, .utils {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .keyboard td {
    width: 25px;
    height: 40px;
  }

  td {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    margin: .3em 0;
  }

  .keyboard td {
    width: 19px;
    height: 30px;
  }

  td {
    width: 40px;
    height: 40px;
  }
}

.stats, .utils {
  margin-bottom: 8px;
  border-radius: 4px;
  text-align: left;
  padding: .5em 1em;
  font-size: 19px;
  font-weight: bold;
  background-color: #1B1A55;
  color: white;
  width: 300px;
}

.stats span {
  color: #535C91;
}

.stats button, .utils button, .utils input {
  background: #535C91;
  color: white;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  padding: .5em 1em;
  margin: 1.5em 1em;
  cursor: pointer;
}

.stats .red-button {
  margin-top: 0;
}

.stats .red-button:hover, .utils .red-button:hover {
  background: red;
  color: white;
}

.utils h4 {
  margin: 0;
}

.utils input {
  text-transform: none;
  padding: .5em .3em;
  margin-bottom: 0;
}

.utils .red-text {
  color: red;
  font-size: 16px;
}

.stats button:hover, .utils button:hover {
  color: #535C91;
  background: white;
}

td {
  background-color: #1B1A55;
  color: white;
  text-transform: uppercase;
  width: 70px;
  height: 70px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 28px;
}

td.pointer {
  border: 2px dashed white;
}

td.correct {
  background-color: green;
}

td.semi-correct {
  background-color: gold;
}

td.incorrect {
  background-color: #535C91;
}

.keyboard {
  margin-top: 8px;
}

.keyboard td {
  width: 35px;
  height: 60px;
  font-size: 22px;
  cursor: pointer;
}

.keyboard td:hover {
  background-color: #535C91;
}

pre {
  user-select: text;
  max-width: 370px;
  overflow-x: scroll;
}
