
* {
  box-sizing: border-box;
  transition: all .3s ease;
}

.App {
  text-align: center;
}

.wrapper {
  width: auto;
  display: flex;
  justify-content: center;
}
td {
  background-color: dimgrey;
  color: white;
  text-transform: uppercase;
  width: 70px;
  height: 70px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 28px;
}

td.pointer {
  border: 3px solid black;
}

td.correct {
  background-color: green;
}

td.semi-correct {
  background-color: gold;
}

td.incorrect {
  background-color: darkslategray;
}

.keyboard {
  margin-top: 18px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.keyboard td {
  width: 35px;
  height: 60px;
  font-size: 22px;
  cursor: pointer;
  user-select: none;
}

.keyboard td:hover {
  background-color: grey;
}
